<!DOCTYPE html>
<html>
  <head>
    <title>Timetracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Tmtrckr </h1>

    <%= yield %>

    <footer>
      <p> Made with &hearts; at Ironhack </p>
    </footer>
  </body>
</html>
