<h1>Word Central</h1>

<p>Your destination for text utilities.</p>



<a href ="/text_inspections/new" > File New Entry for Inspection </a>
<br>
or
<br>
<a href ="/asciis/new" > Make your words beautiful =) </a>
<br>
or
<br>
<a href ="/lipsums/new" > Visit the Lipsum part of the site </a> and generate some random text 