<h2> Welcome to this Time Tracking tool </h2>

<%= render("partials/sign_up") %>

<a href="/contact">
  Contact Page
</a>

<img src="/assets/cat-pizza.gif"
  alt="An illustration of a cat eating a pizza">
